<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>DPPT Airways</title>
</head>
<frameset rows="290,*" cols="*" frameborder="no"  srcolling="NO" border="0" framespacing="0">
  <frame src="topbar.html" name="topFrame" srcolling="NO" noresize="noresize" id="topFrame" title="topFrame" />
  <frameset rows="*" cols="*,300" framespacing="0" srcolling="NO" frameborder="no" border="0">
    <frame src="home.jsp" name="mainFrame" srcolling="NO" id="mainFrame" title="mainFrame" />
    <frame src="login.jsp" name="rightFrame"  srcolling="NO" noresize="noresize" id="rightFrame" title="rightFrame" />
  </frameset>
</frameset>
<noframes><body>
</body></noframes>
</html>
