<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<style type="text/css">
<!--
.white {
	color: #FFF;
}
.black {
	color: #000;
}
.black {
	color: #000;
}
.black {
	color: #000;
}

-->
</style></head>

<body>
<img src="lh.jpg" width="1240" height="200" align="middle" />
<table width="98.5%" border="0" cellspacing="10" cellpadding="10" >
  <tr>
 
    <td width="30%" align="center" background="buttonBackground.jpg" ><strong><a href="home.jsp" target="mainFrame" class="black">HOME</a></strong></td>
    <td width="30%" align="center" background="buttonBackground.jpg"><strong><a href="aboutus.html" target="mainFrame" class="black">ABOUT US</a></strong></td>
    <td width="30%" align="center" background="buttonBackground.jpg"><strong><a href="loyalty.html" target="mainFrame" class="black">CUSTOMER LOYALTY PROGRAM</a></strong></td>
    
  </tr>
</table>
</body>
</html>
